.header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: rgb(48, 77, 16);
    margin-bottom: 0.5%;
    background-color: #c3d1a1;
    font-family: "Eater", serif;
}



.header__h1 {
    margin: 0 auto;

    font-size: 200%;
}

